.taro-taxonomy {

	&-list {
		padding: 0;
		margin: 40px 0;

		&-child {
			margin: 20px 0;

			& & {
				margin: 0;
				display: inline-block;

				li:first-child {
					margin-left: 1em;
				}
			}
		}
	}

	&-item {
		list-style: none;
		display: inline-block;
		margin: 0 1em 1em 0;

		&-parent {
			display: block;
			margin: 1em 0;
		}

		&-link {
			font-size: .85em;
			display: inline-block;
			padding: 0.25em 0.5em;
			border: 1px solid currentColor;
			border-radius: 1em;
			text-decoration: none !important;

			&:hover,
			&:active {
				background-color: rgba(255, 255, 255, .2);
			}
		}
	}
}

.taro-taxonomy-query {

	&-block {
		padding: 0;
		margin: 40px -10px;
		display: flex;
		flex-wrap: wrap;
	}

	&-item {
		list-style: none;
		flex: 0 1 33%;
		padding: 10px;

		@media only screen and ( max-width: 767px ) {
			flex: 0 1 50%;
		}
		@media only screen and ( max-width: 420px ) {
			flex: 0 1 100%;
		}
	}

	&-link {
		display: block;
		background-color: rgba(255, 255, 255, .4);
		padding: 10px;
		text-decoration: none !important;

		&:hover,
		&:active {
			background-color: rgba(255, 255, 255, .8);
		}
	}

	&-title {
		display: block;
		font-weight: 700;
	}

	&-date {
		display: block;
		font-size: 0.8em;
	}
}
